deepspeed==0.13.4
einops==0.8.0
evaluate==0.4.1
matplotlib==3.8.4
monai==1.3.0
nibabel==5.2.1
numpy==1.26.4
opencv_python==4.9.0.80
pandas==2.2.2
peft==0.8.2
Pillow==10.3.0
pycocotools==2.0.7
Requests==2.31.0
rouge==1.0.1
safetensors==0.4.3
scipy==1.13.0
simple_slice_viewer==0.97
SimpleITK==2.3.1
torch==2.2.1+cu118
torchvision==0.17.1+cu118
tqdm==4.66.2
transformers==4.39.1
tweepy==4.14.0
